// font
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600);

// breakpoints - media queries
$mobile: 450px;
$small: 750px;
$medium: 960px;
$large: 1200px;

// colors
$hotpink: #dc829b;
$redpink: #E02458;
$white: #ffffff;
$beige: #f9f9f9;

$landingBgColor: #252525;


// font
$fontfamily: 'Josefin Slab', Helvetica, Arial, sans-serif;
$normal: 400;
$bold: 600;

// neat
$border-box-sizing: true !default;