@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,600);
h1, h2, h3 {
  font-family: "Josefin Slab", Helvetica, Arial, sans-serif; }

p {
  font-family: "Josefin Slab", Helvetica, Arial, sans-serif;
  font-weight: 600; }

html, body {
  height: 100%; }

body {
  background-color: #f9f9f9; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.landing {
  background: url("../../assets/img/landing.jpg");
  background-size: cover;
  display: table;
  height: 100%;
  padding: 0;
  width: 100%; }
  .landing .row {
    display: table-cell;
    height: 100%;
    vertical-align: middle; }
    .landing .row .headline {
      background-color: #252525;
      border: solid 2px #ffffff;
      color: #ffffff;
      font-family: "Josefin Slab", Helvetica, Arial, sans-serif;
      font-size: 3em;
      font-weight: 600;
      margin: 0 30%;
      text-align: center; }
      @media screen and (max-width: 450px) {
        .landing .row .headline {
          margin: 0 15%; } }
      @media screen and (max-width: 750px) {
        .landing .row .headline {
          font-size: 2em;
          margin: 0 25%; } }
      @media screen and (max-width: 960px) {
        .landing .row .headline {
          font-size: 2.8em;
          margin: 0 25%; } }

.about-container {
  padding: 20px;
  background-color: #f9f9f9; }
  .about-container h2 {
    text-align: center; }
  .about-container .about-content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .about-container .about-content:after {
      content: "";
      display: table;
      clear: both; }
    .about-container .about-content .img-container {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .about-container .about-content .img-container:last-child {
        margin-right: 0; }
      .about-container .about-content .img-container img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .about-container .about-content .img-container img:last-child {
          margin-right: 0; }
      @media screen and (max-width: 750px) {
        .about-container .about-content .img-container {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 40.29137%;
          float: none;
          margin: 0 auto;
          text-align: center; }
          .about-container .about-content .img-container:last-child {
            margin-right: 0; } }
    .about-container .about-content .about-me {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      line-height: 1.5em; }
      .about-container .about-content .about-me:last-child {
        margin-right: 0; }
      .about-container .about-content .about-me p {
        font-size: 1.4em;
        margin-top: 25px; }
      @media screen and (max-width: 750px) {
        .about-container .about-content .about-me {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%; }
          .about-container .about-content .about-me:last-child {
            margin-right: 0; } }

.work-container {
  padding: 20px;
  background-color: #f9f9f9; }
  .work-container h2 {
    text-align: center; }

/*# sourceMappingURL=main.css.map */
