.about-container {
  @include padding(20px);
  background-color: $beige;

  h2 {
    //@include margin(10px 0 25px 0);
    text-align: center;
  } // h2

  section {
    @include outer-container;

    .img-container{
      @include span-columns(4);

      img {
        // allows image to span across img-container
        @include span-columns(12);
      }

      @include media(max-width $small) {
        @include span-columns(5);
        float: none;
        margin: 0 auto;
        text-align: center;
      } // media query

    } // img

    .about-me {
      @include span-columns(8);
      line-height: 1.5em;

      p {
        font-size: 1.4em;
        margin-top: 25px;
//        &:last-child {
//          margin-top: 80px;
//        }
      }
      //max-width: 740px;
      @include media(max-width $small) {
        @include span-columns(12);
      } // media query
    } // p

  } // article
} // about