.landing {
  background: url("../../assets/img/landing.jpg");
  background-size: cover;
  display: table;
  height: 100%;
  padding: 0;
  width: 100%;

  .row {
    display: table-cell;
    height: 100%;
    vertical-align: middle;

    .headline {
      background-color: $landingBgColor;
      border: solid 2px $white;
      color: $white;
      font-family: $fontfamily;
      font-size: 3em;
      font-weight: $bold;
      margin: 0 30%;
      text-align: center;

      @include media(max-width $mobile) {
        margin: 0 15%;
      } // media query

      @include media(max-width $small) {
        font-size: 2em;
        margin: 0 25%;
      } // media query

      @include media(max-width $medium) {
        font-size: 2.8em;
        margin: 0 25%;
      } // media query


    } // headline


  } // row
} // landing